<ion-tabs color="gray-1" no-border>
    <ion-tab [root]="tab1Root" tabTitle="Soundboard" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Contacts" tabIcon="contacts"></ion-tab>
</ion-tabs>