<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Autre
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>MAYA PRODUCTION</ion-list-header>
        <ion-item>
            Alban Mabiala
        </ion-item>
        <ion-item>
            Mehdy Oueriemi
        </ion-item>
        <ion-item>
            Alain Lee
        </ion-item>
        <ion-item>
            Yann Rouya Bréant
        </ion-item>
    </ion-list>
</ion-content>