<ion-header no-border>
    <ion-navbar color="gray-1">
        <ion-title size="small" text-center>Soundboard</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce color="gray-1">
    <ion-slides pager color="gray-1">
        <ion-slide *ngFor="let page of pages">
            <div class="grid">
                <div *ngFor="let item of page" (click)="play(item.audio, item.isPlayed, item.id)" class="card-container">
                    <card-component [ngClass]="{'pushed': item.isPlayed}" [model]="item"></card-component>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>