<p class="title">{{model.title}}</p>
<!-- <img src="{{model.icon}}" width="200" /> -->
<ion-icon *ngIf="!model.isPlayed" class="play_icon" ios="ios-play" md="md-play"></ion-icon>
<ion-icon *ngIf="model.isPlayed" class="play_icon" ios="ios-pause" md="md-pause"></ion-icon>