card-component {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    padding: 0.5vh;
    border-radius: 5vw;
    background-color: color($colors, gray-2, base);
    box-shadow: 0 3pt 6pt $shadow-color;
    .title {
        position: absolute;
        display: none;
    }
    img {
        opacity: 0.2;
        height: 100%;
        width: 100%;
    }
    ion-icon {
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}