body {
    background: black;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vw;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.slide-zoom {
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: scroll;
}

ion-slides {
    background: color($colors, gray-1, base);
}

.swiper {
    &-pagination {
        &-bullet {
            outline: 2px solid red;
        }
    }
}

// automatically applied to the <body> element in the app.